<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creation des ecoles</title>
    <link th:href="@{style.css}" rel="stylesheet"/>
</head>
<body>

<h2>Veuillez renseigner les informations de l'ecole</h2>
<form class="form-ecole">
    <div>
        <label for="ecole-name">Nom de l'ecole</label>
        <input id="ecole-name">
    </div>

    <div>
        <label for="adresse">Adresse</label>
        <input id="adresse">
    </div>

    <div>
        <label for="numero-telephone">Numero telephone</label>
        <input id="numero-telephone">
    </div>

    <div>
        <label for="email">Email</label>
        <input id="email">
    </div>

    <button>Enregistrer</button>
</form>
</body>
</html>